<div class="dashboard-wrapper">

  <div class="top-bar">

    <div>

      <h1>
        User Role Management
      </h1>

      <p>
        Manage Users And Roles
      </p>

    </div>

    <div class="nav-buttons">

      <button
        class="nav-btn"
        routerLink="/welcome"
      >
        Home
      </button>

      <button
        class="nav-btn"
        routerLink="/dashboard"
      >
        Dashboard
      </button>

    </div>

  </div>

  <div class="stats-container">

    <div class="stat-card total-card">

      <h2>
        {{ userRoleData.length }}
      </h2>

      <p>
        Total Users
      </p>

    </div>

  </div>

  <div class="action-bar">

    <button
      *ngIf="role === 'Admin'"
      class="add-user-btn"
      (click)="showAddUserModal = true"
    >
      + Add User
    </button>

  </div>

  <div class="table-card">

    <table>

      <thead>

        <tr>

          <th>User ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Change Role</th>
          <th *ngIf="role === 'Admin'">
  Actions
</th>

        </tr>

      </thead>

      <tbody>

        <tr
          *ngFor="
          let user of
          userRoleData
          "
        >

          <td>
            {{ user.userId }}
          </td>

          <td>
            {{ user.name }}
          </td>

          <td>
            {{ user.email }}
          </td>

          <td>

            <span
  class="role-badge"

  [ngClass]="{

    'admin-role':
    user.role === 'Admin',

    'administrator-role':
    user.role === 'Administrator',

    'wps-role':
    user.role === 'WPS',

    'user-role':
    user.role === 'User'
  }"
>
  {{ user.role }}
</span>

          </td>

         <td>
          <select
  (change)="changeRole(
    user.userId,
    $any($event.target).value
  )"
>

  <option selected disabled>
    Select Role
  </option>

  <option value="Admin">
    Admin
  </option>

  <option value="Administrator">
    Administrator
  </option>

  <option value="WPS">
    WPS
  </option>

  <option value="User">
    User
  </option>

</select>
         </td>

          <td *ngIf="role === 'Admin'">

            <button
              class="delete-btn"
              (click)="deleteUser(user.userId)"
            >
              Delete
            </button>

          </td>

 




        </tr>

      </tbody>

    </table>

  </div>

</div>

<div
  *ngIf="showAddUserModal"
  class="modal-overlay"
>

  <div class="modal-box">

    <h2>
      Add User
    </h2>

    <input
      type="text"
      placeholder="First Name"
      [(ngModel)]="firstName"
    >

    <input
      type="text"
      placeholder="Last Name"
      [(ngModel)]="lastName"
    >

    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
    >

    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
    >

    <select
      [(ngModel)]="selectedRole"
    >

      <option value="Admin">
        Admin
      </option>

      <option value="Administrator">
        Administrator
      </option>

      <option value="WPS">
        WPS
      </option>

      <option value="User">
        User
      </option>

    </select>

    <div class="modal-buttons">

      <button
        class="save-btn"
        (click)="addUser()"
      >
        Save
      </button>

      <button
        class="cancel-btn"
        (click)="showAddUserModal = false"
      >
        Cancel
      </button>

    </div>

  </div>

</div>
